<%= render 'header' %>
      <h1>ツイート一覧</h1>
      <p><%= notice %></p>
        <table>
        <% @tweets.each do |tweet| %>
          <tr>
            <td class="content-box"><div class="content"> <%= tweet.content %> </div></td>
            <td class="link-box"><%= link_to '詳細', tweet_path(tweet.id) , class: 'btn btn-default'%></td>
          </tr>
        <% end %>
        </table>
<%= render 'footer' %>
