<h1>Tweet</h1>
<p><%= notice %></p>
<%= link_to '新規投稿', new_tweet_path %>
<table>
  <tr>
    <th>一覧</th>
  </tr>
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to '詳細', tweet_path(tweet.id) %></td>
    <td><%= link_to "編集", edit_tweet_path(tweet.id) %></td>
    <td><%= link_to '削除', tweet_path(tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
  </tr>
<% end %>
</table>
