<%= render 'header' %>
<h1>ツイート詳細</h1>
<p>Content: <%= @tweet.content %></p>
<%= link_to "編集", edit_tweet_path(@tweet.id) %>
<%= link_to '削除', tweet_path(@tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<%= render 'footer' %>
